<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064735434782-p9hg6c13lk0f8l53eti88of075rd0gev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064735434782-p9hg6c13lk0f8l53eti88of075rd0gev</string>
	<key>API_KEY</key>
	<string>AIzaSyDo9fsYAltzzQ2xwEy_menn-Lr0_44O6tA</string>
	<key>GCM_SENDER_ID</key>
	<string>1064735434782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eArchive</string>
	<key>PROJECT_ID</key>
	<string>e-archive-c4546</string>
	<key>STORAGE_BUCKET</key>
	<string>e-archive-c4546.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064735434782:ios:804cea19c0aea9f120e60f</string>
</dict>
</plist>